



<h1><%= @movie.title %> </h1>
<%= link_to "Réserver", new_movie_reservation_path(@movie) %>
<h2>Reservations</h2>
<ul>
  <% @reservations.each do |reservation| %>
    <li><%= reservation.start_date %>
    <%= cl_image_tag "#{reservation.photo.key}", height: 300, width: 400, crop: :fill %>
    </li>
  <% end %>
</ul>
